body{
	padding: 0;
	margin: 0;
	background: rgba(50, 59, 94, 1);
	font-family: Arial, Helvetica, Verdana, serif;
	text-align: center;
	color: rgb(217, 217, 217);
}
header{
	background-color: black;
	background-color: rgba(0, 0, 0, 1);
	font-family: "Sniglet", Arial, sans-serif;
	font-size: 24px;
	text-align: center;
	color: rgb(217, 217, 217);
	font-style: italic;
	margin-top: 0;
	padding: 8px;
}
p{
	font-size: 24px;
}
table{
	background: inherit;
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
	border: 6px solid black;
}
#panel{
    margin: 34px 12px;
    padding-bottom: 38px;
	border-radius: 45px;
	background: rgb(50, 94, 60);
}
tr, td{
	padding: 0;
	margin: 0;
}
#playerShips, #enemyShips{
	background: inherit;
	border-collapse: collapse;
	border: 0;
	width: 70%;
	margin-bottom: 25px;

}
.container > div {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin 0;
  max-width: 600px;
  min-width: 100px;
}
.container div.content {
  height: 700px;
}
button{
	border: 6px solid black;
	background-color: rgba(36, 79, 154, 0.9);
	height: 50px;
	width: 50px;
	margin: 0;
	padding: 0;
}
footer {
	margin-top:auto;
	background-color: black;
	background-color: rgba(0, 0, 0, 1);
	font-family: "Sniglet", Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	color: rgb(217, 217, 217);
	font-style: italic;
	padding: 46px 46px 24px;
}
.overlay_popup {
	display:none;
	position:fixed;
	z-index: 999;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background:#000;
	opacity:0.5;
	border-radius: 0;
}
.popup {
	display: none;
	z-index: 1000;
	width:100%;
	min-height:100%;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
	position:fixed;
	top:0;
}
.object {
	border-radius: 45px;
	background: rgba(50, 94, 60, 1);
	margin: 200px auto 0 auto;
	color: black;
	box-shadow: 0 0 10px #000;
	width: 340px;
	height: 180px;
	text-align: center;
	padding: 50px 70px;
}
.exitButton {
	border-radius: 45px;
	background: rgba(50, 94, 60, 1);
	border-spacing:0;
	font-size: 24px;
	table-layout: fixed;
	margin: 6px;
	border: 3px solid black;
	width: 200px;
	height: 50px;
}
button:hover {
	background: rgba(36, 79, 154, 0.9);
}
