body{
	padding: 0px;
	margin: 0px;
	background: rgba(50, 59, 94, 1);
	font-family: "Sniglet", Arial, sans-serif;
	text-align: center;
	color: rgb(217, 217, 217);
}
header{
	background-color: black;
	background-color: rgba(0, 0, 0, 1);
	font-size: 24px;
	text-align: center;
	font-style: italic;
	margin-top: 0px;
	padding: 8px;
}
footer{
	background-color: rgba(0, 0, 0, 1);
	font-family: "Sniglet", Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	color: rgb(217, 217, 217);
	font-style: italic;
	margin-top: 0;
	padding: 46px 46px 24px;
}