<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Battleship Game</title>
    <link rel="stylesheet" type="text/css" href="style/lobby.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="icon" href="img/icon.png" type="image/icon type">
</head>
<body>
<p><span id="user" th:text="${username}"></span>, please wait for another player</p>
<svg width="400px" height="400px" viewBox="-4 -1 38 28">
    <polygon fill="transparent" stroke="#000" stroke-width="2" points="15,0 30,30 0,30"></polygon>
</svg>
<img src="img/icon.png" width="150">
<p hidden id="token" th:text="${token}"></p>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script type="text/javascript">
    var token = document.getElementById("token").innerText;
    var username = document.getElementById("user").innerText;

    window.onload = function(){ setInterval(function() {
        $.ajax({
            type: 'POST',
            url: '/lobby',
            data: "token=" +token +"&username="+username,
            success: function (data) {
                if (data === "yes"){
                    goToGame();
                }
            }
        });
    }, 2000)};

    function goToGame(){
        window.location.href = "/game?token="+ token;
    }
</script>
</body>
</html>