<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Battleship Game</title>
    <link rel="stylesheet" type="text/css" href="style/login.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="icon" href="img/icon.png" type="image/icon type">
</head>
<body>
<header><h1>The Battleship Game</h1></header>
<form action="/start" method="GET">
    <label>Please enter your name: <br>
        <input id ="player" name="playerName" type="text" maxlength="20"></label><br>
    <input type="submit" name="submit" value="Submit" id="button" onclick="validation(this)">
</form>
<script>
    function validation(input) {
        var playerName = document.getElementById('player').value;
        if (playerName === ''){
            input.setCustomValidity('Player name is empty');
        }else {
            input.setCustomValidity('');
        }
    }
</script>
<footer>The game was created by Nickolay Moiseyenko in 2019.</footer>
</body>
</html>