<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Battleship Game</title>
    <link rel="stylesheet" type="text/css" href="style/index.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="icon" href="img/icon.png" type="image/icon type">
</head>
<body>
<header><h1>The Battleship Game</h1></header>
<form action="/auth" method="POST">
    <label>Username:<br>
        <input id ="username" name="username" type="text" maxlength="20"></label><br>
    <label>Password:<br>
        <input id ="password" name="password" type="password" maxlength="20"></label><br>
    <input type="button" name="signIn" value="Sign in" id="signIn" onclick="validation(this)"><br>
        <label>Or create new account<br>
            <input type="button" name="signUp" value="Sign up" id="signUp" onclick="location.href='/register'">
        </label>
</form>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script type="text/javascript">
    function validation(input) {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        if (username === ''){
            input.setCustomValidity('Player name is empty');
        } else if (username.length < 3){
            input.setCustomValidity('Password is too short');
        }else if (password === ''){
            input.setCustomValidity('Password is empty');
        } else if (password < 5){
            input.setCustomValidity('Password is too short');
        } else {
            input.setCustomValidity('');
            $.ajax({
                type: 'POST',
                url: '/auth',
                data: "username=" + username + "&password=" + password,
                success: function (data, status, header) {
                    var token = header.getResponseHeader('authorization');
                    $.ajax({
                        type: 'GET',
                        url: 'get_id',
                        headers: {'authorization': token},
                        //data: {}, PLAYER NAME PLACE HERE
                        success: function (data, status, header) {
                            window.location.replace('/any');
                        }
                    });
                }
            });
        }
    }





</script>
<footer>The game was created by Nickolay Moiseyenko in 2019.</footer>
</body>
</html>