<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <meta charset="utf-8">
    <title>Battleship Game</title>
    <link rel="stylesheet" type="text/css" href="style/index.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="icon" href="img/icon.png" type="image/icon type">
</head>
<body>
<header><h1>The Battleship Game</h1></header>
<div id="form">
    <form action="/registration" method="POST">
        <label>Username:<br>
            <input id ="username" name="username" type="text" maxlength="20"></label><br>
        <p id="user" th:text="${message}"></p>
        <label>Password:<br>
            <input id ="password" name="password" type="password" maxlength="20"></label><br>
        <label>Confirm password:<br>
            <input id ="confirmPassword" name="confirmPassword" type="password" maxlength="20"></label><br>
        <button id="button" onclick="validation(this)">Sign up</button>
    </form>
</div>
<div id="success" hidden>
    <p>You've been successfully signed up! Just sign in to play!</p>
    <button onclick="location.href='/login'" type="button">Sign in</button>
</div>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>
    function validation(input) {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        if (username === ''){
            input.setCustomValidity('Player name is empty');
        } else if (username.length < 3){
            input.setCustomValidity('Password is too short');
        } else if (password === ''){
            input.setCustomValidity('Password is empty');
        } else if (password.length < 5 || confirmPassword.length < 5){
            input.setCustomValidity('Password is too short');
        } else if (confirmPassword === ''){
            input.setCustomValidity('Password is empty');
        } else if (confirmPassword !== password){
            input.setCustomValidity('Password does not match');
        } else {
            input.setCustomValidity('');
            send();
        }
    }

    function send(){
            $.ajax({
                type: 'POST',
                url: '/register',
                data: "username=" + username + "&password=" + password + "&confirmPassword=" + confirmPassword,
                success: function () {
                    $("#form").hide();
                    show();
                }
            });
    }


    function show(){
        document.getElementById("form").hidden=true;
        document.getElementById("success").hidden=false;
    }


</script>
<footer>The game was created by Nickolay Moiseyenko in 2019.</footer>
</body>
</html>